In [1]:
import pandas as pd
import numpy as np
import warnings
import seaborn as sns
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")

## Read the data

In [2]:
case = pd.read_csv('Delta_Data/cases_daily_state.csv')
death = pd.read_csv('Delta_Data/deaths_cumulative.csv')
hosp = pd.read_csv('Delta_Data/Hosp_states.csv')
icu = pd.read_csv('Delta_Data/ICU_states.csv')

In [3]:
case.sample()

         Date  NSW  VIC  QLD   SA   WA  TAS   NT  ACT
288  08/11/20    3    0    0  3.0  0.0    0  0.0    0

In [4]:
death.sample()

         Date  NSW  VIC  QLD  SA  WA  TAS  NT  ACT
100  30/04/21   54  820    7   4   9   13   0    3

In [5]:
hosp.sample()

,Date,NSW,VIC,QLD,SA,WA,TAS,NT (inc. isolating / at-risk),ACT,NT (hospitalisations only)
353,20/12,261,406,66,6,0,0,13,3,13.0

In [6]:
icu.sample()

     Date  NSW  VIC  QLD  SA  WA  TAS  NT  ACT
76  18/03    0    0    0   0   0    0   0    0

## Unify the date format

In [7]:
case['Date'] = pd.to_datetime(case['Date'],format='%d/%m/%y',errors='coerce')
case['year']  = case['Date'].dt.year
case['month'] = case['Date'].dt.month
case['day'] = case['Date'].dt.day

death['Date'] = pd.to_datetime(death['Date'],format='%d/%m/%y',errors='coerce')
death['year']  = death['Date'].dt.year
death['month'] = death['Date'].dt.month
death['day'] = death['Date'].dt.day

hosp['Date'] = pd.to_datetime(hosp['Date'],format='%d/%m', errors='coerce')
hosp['month'] = hosp['Date'].dt.month
hosp['day'] = hosp['Date'].dt.day

icu['Date'] = pd.to_datetime(icu['Date'],format='%d/%m', errors='coerce')
icu['month'] = icu['Date'].dt.month
icu['day'] = icu['Date'].dt.day

In [8]:
hosp['Date'] = hosp['Date'].dt.strftime('%m-%d')
icu['Date'] = icu['Date'].dt.strftime('%m-%d')

## Remain the data from June 1 2021 to November 15 2021

In [9]:
case_clean = case.loc[(case['month'] >= 6) & (case['month'] < 12) & (case['year'] == 2021)]
death_clean = death.loc[(death['month'] >= 6) & (death['month'] < 12) & (death['year'] == 2021)]

In [10]:
hosp_clean = hosp.loc[(hosp['month'] >= 6) & (hosp['month'] < 12)]
icu_clean = icu.loc[(icu['month'] >= 6) & (icu['month'] < 12)]

In [11]:
case_clean['Date'] = case_clean['Date'].dt.strftime('%m-%d')
death_clean['Date'] = death_clean['Date'].dt.strftime('%m-%d')

In [12]:
case_clean = case_clean.iloc[:-15 , :].reset_index()
death_clean = death_clean.iloc[:-15 , :].reset_index()
hosp_clean = hosp_clean.iloc[:-15 , :].reset_index()
icu_clean = icu_clean.iloc[:-15 , :].reset_index()
#case_clean = case_clean.reset_index()
#death_clean = death_clean.reset_index()
#hosp_clean = hosp_clean.reset_index()
#icu_clean = icu_clean.reset_index()

## Only look at VIC, NSW & Output the CSV files

In [13]:
select_columns = ['Date', 'NSW', 'VIC']
case_clean[select_columns].to_csv("Output_Data/case_clean.csv")
death_clean[select_columns].to_csv("Output_Data/death_clean.csv")
hosp_clean[select_columns].to_csv("Output_Data/hosp_clean.csv")
icu_clean[select_columns].to_csv("Output_Data/icu_clean.csv")